:root {
  --dtm-red: #f53240;
}

body {
  background-color: #e9e9e9;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:hover {
  color:var(--dtm-red);
}

#navbarat {
  background: #fff;
  color:var(--dtm-red);
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

#switchlang {
  border: none;
  background-color: #e9e9e9;
  padding: 0 !important;
  background: none !important;
}

#switchlang > img {
  height: 24px;
  width: 24px;
}

/* HERO */
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();
  background-color: #333;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  width: 55px; height: 55px;
  display: block;
  padding: 10px;
  margin: 0 auto 0 auto;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  background-color: #ae1227;
  transition: scale 100ms ease;
}

.hero .btn:hover {
  scale: 1.05;
  background-color: #cf6666;
}

/* NAVIGATION */

.menu li {
  list-style: none;
}

.navsection {
  background-color: #F5F5F5;
  align-items: center!important;
}

.navbar {
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  color: #cc0000;
  text-decoration: none;
  padding: 5px 14px;
}

.logo {
  font-size: 32px;
  z-index: 7;
  padding-left: 2rem;
}

.menu {
  font-size: 18px;
}

.menu li:hover > a {
  background-color: #ddd;
  transition: 0.3s ease;
  z-index: 6;
}

.menu li {
  display: inline-block;
}

.services {
  position: relative;
}

.dropdown {
  background-color: #F5F5F5;
  padding: 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  left: 0px;
}

.dropdown li {
  padding: 0.5em;
  width: 16em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #a0a0a0;
}

.dropdown li:hover>span {
  position: absolute;
  left: 5px;
  width: 5px;
  height: 30px;
  border-right: 5px solid #cc0000;
  border-bottom: 2px solid #cc0000;
  border-radius: 5px;
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 992px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #F5F5F5;
    right: 0;
    left: 0;
    text-align: center;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #a0a0a0;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #a0a0a0;
  }
}

/* NAVBAR HOVER STUFF END */

/*CARD HOVER*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #e9e9e9;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: white;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.50);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.50);
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

#cards_landscape_wrap-2 .card-flyer .text-box p a {
  color:var(--dtm-red);
}

#cards_landscape_wrap-2 .card-flyer .text-box p a:hover {
  font-weight: bold;
  border-bottom: 1px solidvar(--dtm-red);

}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color:var(--dtm-red);
}


/* CARD HOVER END*/

/* accordion*/
#acccc {
  border-right: none
}

.ac-container {
  max-width: 340px;
  border: 3px #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  /*width: 100%;*/
  margin: 50px 0 30px 0;
  text-align: left;
}

.ac-container label {
  height: 30px !important;
  line-height: 21px !important;
  font-size: 20px !important;
  font-family: 'Lato', sans-serif !important;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: -moz-linear-gradient(top, #eaeaea);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #eaeaea);
  background: -o-linear-gradient(top, #eaeaea);
  background: -ms-linear-gradient(top, #eaeaea);
  background: linear-gradient(top, #eaeaea);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), 1px 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container label:hover {
  background: #97979779;
}

.ac-container input:checked+label,
.ac-container input:checked+label:hover {
  background: #97979779;
  color:var(--dtm-red);

  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 21px;
  font-size: 22px;
  font-weight: bold;
}

.ac-container label:hover:after,
.ac-container input:checked+label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url() no-repeat center center;
}

.ac-container input:checked+label:hover:after {
  background-image: url();
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 0px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 30px;
  font-size: 16px;
  padding: 20px;
  font-family: 'Lato' sans-serif;
  font: normal normal 16px;
}

.ac-container input:checked~article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.ac-container input:checked~article.ac-alk {
  height: 150px;
}

.ac-container input:checked~article.ac-izol {
  height: 210px;
}

.ac-container input:checked~article.ac-ilet {
  height: 120px;
}

.ac-container input:checked~article.ac-uygl {
  height: 260px;
}

/* ACCORDION END*/
/* OWL CAROUSEL*/



/* SIDE CARD WITH HOVER POP */
.cards {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 20px 14px 20px;
  margin-top: 60px;
  font-family: 'Lato', sans-serif;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.cards h3 {
  font-weight: 600;
  font-size: medium;
}

.cards-inner {
  padding-bottom: 20px;
  padding-top: 20px;
}

.cards-inner img {
  max-height: 100%;
  max-width: 100%;
}


#sidecardbutton {
  font-size: medium;
}

#sidecardbutton:hover {
  background-color: #ff0000;
  border: #ff0000;
  font-weight: 600;
}

/* SIDE CARD WITH HOVER POP END */

/* BASIC PAGE MAIN TEXT */
#maintext {
  background-color: #ffffff;
  margin-top: 60px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 100px;
}

#maintext h3 {
  font-weight: 600;
  color: #444444;
  position: absolute;
}

#maintext p {
  font-size: 16px;
}

#maintext ul {
  padding-left: 20px;
}

/* BASIC PAGE MAIN TEXT END */

/* TOP IMAGE W TEXT */
#hizmetler {
  background-image: url("../img/bg_red.png");
}

#kurumsal {
  background-image: url("../img/bg_red.png");
}

#iletisim {
  background-image: url("../img/bg_red.png");
}

.parallax {

  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
  color: #ffffff;
  text-align: center;
  scale: 1.5;
  padding-top: 160px;
  padding-bottom: auto;
  font-family: 'Lato', sans-serif;
}

.parallax p {
  color: #ffffff;
  margin-top: 60px;
  text-align: center;
  scale: 1.5;
  font-family: 'Lato', sans-serif;
}

#phonenmbr {
  margin-top: 50px;
}

#phonenmbr p {
  color:var(--dtm-red);
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  text-align: center;
  padding-top: 20px;

}

#phonenmbr h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}


#phonenmbr a {
  text-decoration: none;
  text-align: center;
}

/* PARALLAX & PHONE ICON END */
/* RESPONSIVE IMG GALLERY FOR PRODUCTS PAGE START */
.carousel-inner {
  padding-top: 6rem;
  padding-left: 5rem;
}

.carousel-indicators {
  padding-left: 5rem;
}

/* RESPONSIVE IMG GALLERY FOR PRODUCTS PAGE END */

/*PRODUCTS PAGE TOP*/
#mediumexp {
  padding-top: 3%;
  padding-left: 4%;
  color: rgb(255, 255, 255);
}

#exppar {
  padding-left: 4%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  padding-bottom: 3%;
}

.mediumhead {
  background-image: url("../img/bg_red.png");
}

.btn-cata {
  margin-left: 5%;
}

.btn-cata:hover {
  background-color: #cc0000;
  font-weight: 600;
}

.linebreak {
  margin-top: 10rem;
}

#productdisplay #product1,
#productdisplay #product2,
#productdisplay #product3,
#productdisplay #product4 {
  height: 100vh;
}

#productdisplay .carousel-item img {
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* PRODUCTS PAGE TOP END */
/*SCROLLBAR*/
body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

ul::-webkit-scrollbar {
  width: 12px;
  background-color: #e9e9e9;
}

ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #e9e9e9;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

/*SCROLLBAR END */

/* FOOTER */

footer {
  background-color: #504c4c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

#footerfooter {
  background-color: #504c4c;
}

#icons a {
  color: rgba(0, 0, 0, 0.5);
  font-size: large;
}


/* REFERANSLAR */

#references .card {
  box-shadow: none;
  margin: 1rem;
  width: 20rem;
  height: 16rem; 
  color: #000;
  background-color:#fff ;

}

#references .card:hover {
  box-shadow: 0 5px 5px #000000;
  height: 20rem;
  z-index: 3;
  margin-bottom: -6rem;
  color: #fff;
  background-color: #c20000;

}
#references .card:hover img{
  padding-top: 0 !important; 
}
#references .card .content {
  font-family: 'Lato', sans-serif;
}

#references .card .content h3 {
  font-size: medium;
  text-align: center;
  padding: auto;
  font-family: 'Lato', sans-serif;
}


#references .card .content h4 {
  visibility: hidden;
}

#references .card .image {
  text-align: center;
  padding-top: 1rem;
}

#references .card .image img {
  max-width: 14rem;
  max-height: 12rem;
}

#references .card:hover .content h4 {
  font-size: medium;
  text-align: center;
  padding: auto;
  visibility: visible;
  font-family: 'Lato', sans-serif;
}

#references .card:hover .image {

  padding-top: 20%;
  margin-top: 0;
}




/* ILETISIM */

.maploc iframe {
  width: 100%;
  border: 0;
}

#adresses {
  font-family: 'Lato', sans-serif;
  padding-top: 4rem;
}

#adresses h2 {
  text-align: center;
}

#adresses h4 {
  text-align: center;
}

#adresses p {
  font-family: 'Lato', sans-serif;
}

#adresses a {
  color: #ff0000;
}

.carousel-item img {
  object-fit: cover;

}

#fade .carousel-inner {
  padding: 50px 0px 0px 0px;
}

#fade h5 {
  padding-top: 15px;
  text-align: center;
}

/* SERTIFIKALAR */
.cert1 {
  height: auto;
  border-radius: 10px;
  text-align: center;
  margin-top: calc(4%+15px);
}

.cert2 {
  margin-top: 4%;
}

.cert2 h3 {
  margin-left: 15px;
  border-bottom: 1px solid #ccc;
}

#certification .cerc-alt {
  margin-top: 2.5rem;
}

#certification .cerc-alt h5 {
  padding-bottom: 1rem;
}

/* HABERLER */
#newscard {
  margin: 2rem 3rem 3rem 3rem;
  border: none;
}

#newscard h2 {
  padding-top: 2px;
}

#newscard p {
  padding-top: 10px;
}

#newscard:hover {
  border: none;
}

#newscard img {
  padding-top: 1px;
  width: 20rem;
  height: 14rem;
}

#newscard a {
  border: #ffffff;
  color: #cc0000;
  background-color: #ffffff;
  font-size: larger;
}

#newscard a:hover {
  background-color: #cc0000;
  color: #ffffff;
}

.flip-card {
  background-color: transparent;
  width: 24rem;
  height: 24rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg)
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid #cc000090;
  overflow: hidden;
}

.flip-card-back {
  padding-top: 85%;
  background-color: #cc0000;
  color: white;
  font-size: large;
  transform: rotateY(180deg);
}

.flip-card-front h2 {
  font-style: italic;
  font-weight: 500;
  font-family: 'Lato' ,sans-serif;
  background-color: #cc000090;
  color: rgb(39, 39, 39);
}

.newsmain {
  padding-top: 0 !important;
  margin-left: auto;
  margin-right: 0 !important;
}