body {
  background-color: #e9e9e9;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

#navbarat {
  background: #f53240;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}


/* #navbarat h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
} */
/* HERO */
.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/heroicbg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  display: block;
  width: 200px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #f5323f94;
}

.hero .btn:hover {
  font-weight: 600;
  scale: 1.2;
  background-color: #f53240;
}

/* NAVIGATION */
nav.blend {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding-top: 30px;
}

.navbar-brand {
  position: absolute;
  display: block;
  left: 4%;
  top: -7px;
  /* Navbar yüksekliği ile ilgili ayarlarsın, vh de kullanabilirsin */
  /*transform: translate(50%, 8%); bu da bir yöntem, ekrana göre ortalama vs. kısmında işine yarar */
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;

}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}

nav.blend ul li a {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

nav.blend ul li a:hover {
  color: #fff;
}

nav.blend ul li a:before,
nav.blend ul li a:after {
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  background: #f53240;
  transition: all .5s;
  margin: auto;
  content: '.';
  color: transparent;
  z-index: -1;
  opacity: 0.75;
}

nav.blend ul li a:before {
  left: 0;
}

nav.blend ul li a:after {
  right: 0;
}

nav.blend ul li a:hover:after,
nav.blend ul li a:hover:before {
  width: 100%;
}

nav.blend ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  display: none;
  background: white;
}

nav.blend ul li:hover>ul,
nav.blend ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 3px 5px 0px #e9e9e9;
}

nav.blend ul li ul li {
  clear: both;
  text-align: left;
  margin-bottom: 10px;
  border-style: none;
  display: block;
  /*position: ; */
}

a:hover {
  color: #f53240;
}

ul li ul li a {
  transition: all 0.5s ease;
}

/* NAVBAR HOVER STUFF END */

/*CARD HOVER*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #e9e9e9;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  transition: all .9s ease;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

#cards_landscape_wrap-2 .card-flyer .text-box p a {
  color: #f53240;
}

#cards_landscape_wrap-2 .card-flyer .text-box p a:hover {
  font-weight: bold;
  border-bottom: 1px solid #f53240;

}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: #f53240;
}


/* CARD HOVER END*/

/* accordion*/
#acccc {
  border-right: none
}

.ac-container {
  max-width: 340px;
  border: 3px #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  /*width: 100%;*/
  margin: 50px 0 30px 0;
  text-align: left;
}

.ac-container label {
  height: 30px !important;
  line-height: 21px !important;
  font-size: 20px !important;
  font-family: 'Lato', sans-serif !important;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: -moz-linear-gradient(top, #eaeaea);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #eaeaea);
  background: -o-linear-gradient(top, #eaeaea);
  background: -ms-linear-gradient(top, #eaeaea);
  background: linear-gradient(top, #eaeaea);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), 1px 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container label:hover {
  background: #97979779;
}

.ac-container input:checked+label,
.ac-container input:checked+label:hover {
  background: #97979779;
  color: #f53240;

  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 21px;
  font-size: 22px;
  font-weight: bold;
}

.ac-container label:hover:after,
.ac-container input:checked+label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url() no-repeat center center;
}

.ac-container input:checked+label:hover:after {
  background-image: url();
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 0px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 30px;
  font-size: 16px;
  padding: 20px;
  font-family: 'Lato' sans-serif;
  font: normal normal 16px;
}

.ac-container input:checked~article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.ac-container input:checked~article.ac-alk {
  height: 120px;
}

.ac-container input:checked~article.ac-izol {
  height: 180px;
}

.ac-container input:checked~article.ac-ilet {
  height: 120px;
}

.ac-container input:checked~article.ac-uygl {
  height: 234px;
}

/* ACCORDION END*/
/* OWL CAROUSEL*/



/* SIDE CARD WITH HOVER POP */
.cards {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 20px 14px 20px;
  margin-top: 60px;
  font-family: 'Lato', sans-serif;
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.cards h3 {
  font-weight: 600;
  font-size: medium;
}

.cards-inner {
  padding-bottom: 20px;
  padding-top: 20px;
}

.cards-inner img {
  max-height: 100%;
  max-width: 100%;
}


#sidecardbutton {
  font-size: medium;
}

#sidecardbutton:hover {
  background-color: #ff0000;
  border: #ff0000;
  font-weight: 600;
}

/* SIDE CARD WITH HOVER POP END */

/* BASIC PAGE MAIN TEXT */
#maintext {
  background-color: #ffffff;
  margin-top: 60px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 100px;
}

#maintext h3 {
  font-weight: 600;
  color: #444444;
  position: absolute;
}

#maintext p {
  font-size: 16px;
}

#maintext ul {
  padding-left: 20px;
}

/* BASIC PAGE MAIN TEXT END */

/* TOP IMAGE W TEXT */
#hizmetler {
  background-image: url("https://wallpaperaccess.com/full/1145728.jpg");
}

#kurumsal {
  background-image: url("https://www.wallpaperbetter.com/wallpaper/489/691/756/shanghai-china-night-city-buildings-skyscrapers-lights-1080P-wallpaper-middle-size.jpg");
}

#iletisim {
  background-image: url("https://image.shutterstock.com/image-photo/old-brick-black-color-wall-600w-1605128917.jpg");
}

.parallax {

  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
  color: #ffffff;
  text-align: center;
  scale: 1.5;
  padding-top: 160px;
  padding-bottom: auto;
  font-family: 'Lato', sans-serif;
}

.parallax p {
  color: #ffffff;
  margin-top: 60px;
  text-align: center;
  scale: 1.5;
  font-family: 'Lato', sans-serif;
}

#phonenmbr {
  margin-top: 50px;
}

#phonenmbr p {
  color: #f53240;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  text-align: center;
  padding-top: 20px;

}

#phonenmbr h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}


#phonenmbr a {
  text-decoration: none;
  text-align: center;
}

/* PARALLAX & PHONE ICON END */
/* RESPONSIVE IMG GALLERY FOR PRODUCTS PAGE START */
.carousel-inner {
  padding-top: 6rem;
  padding-left: 5rem;
}

.carousel-indicators {
  padding-left: 5rem;
}

/* RESPONSIVE IMG GALLERY FOR PRODUCTS PAGE END */

/*PRODUCTS PAGE TOP*/
#exphead {
  padding-top: 3%;
  padding-left: 4%;
  color: rgb(255, 255, 255);
}

#exppar {
  padding-left: 4%;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  padding-bottom: 3%;
}

.productshead {
  background-image: url("https://picsum.photos/1920/1080");
}

.btn-cata {
  margin-left: 5%;
}

.btn-cata:hover {
  background-color: #cc0000;
  font-weight: 600;
}

.linebreak {
  margin-top: 10rem;
}

#productdisplay #product1,
#productdisplay #product2,
#productdisplay #product3,
#productdisplay #product4 {
  height: 100vh;
}

#productdisplay .carousel-item img {align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* PRODUCTS PAGE TOP END */
/*SCROLLBAR*/
body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

ul::-webkit-scrollbar {
  width: 12px;
  background-color: #e9e9e9;
}

ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #e9e9e9;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

/*SCROLLBAR END */

/* FOOTER */

footer {
  background-color: #504c4c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

#footerfooter {
  background-color: #504c4c;
}
#icons a {color: rgb(0, 0, 0, 0.5);}
#icons a:hover {
  scale: 1.1;
}

/* REFERANSLAR */

#references .card {
  box-shadow: none;
  margin: 1rem;
  width: 10rem;
  height: 10rem;
}

#references .card:hover {
  box-shadow: 0 5px 5px #000000;
}

#references .card .content {
  font-family: 'Lato', sans-serif;
}

#references .card .content h3 {
  font-size: medium;
  text-align: center;
  padding: auto;
  font-family: 'Lato', sans-serif;
}

#references .card .image {
  text-align: center;
  padding-top: 10px;
}

/* ILETISIM */

.maploc iframe {
  width: 100%;
  border: 0;
}

#adresses {
  font-family: 'Lato', sans-serif;
  padding-top: 4rem;
}

#adresses h2 {
  text-align: center;
}

#adresses h4 {
  text-align: center;
}

#adresses p {
  font-family: 'Lato', sans-serif;
}

#adresses a {
  color: #ff0000;
}

.carousel-item img {
  object-fit: cover;

}

#fade .carousel-inner {
  padding: 50px 0px 0px 0px;
}

#fade h5 {
  padding-top: 15px;
  text-align: center;
}