nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 0;
  /* 120px 0 0 0 */
  text-align: center;
  font-size: 16px;

}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #de0000;
  display: inline-block;
  padding: 0 32px;
  /* */
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}

nav.primary-navigation li a {
  color: black;
  ;
}

nav.primary-navigation li a:hover {
  color: black;

  border-bottom:2px solid #de0000;
}

nav.primary-navigation li:hover {
  cursor: pointer;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #de0000;
  border-bottom: 2px solid #de0000;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a:hover {
  color: #de0000;
}

ul li ul li a {
  transition: all 0.5s ease;
}

#logo {
  float: inline-start;
  padding-left: auto;
}
.bg-navb {background-image:url("https://learnenglishteens.britishcouncil.org/sites/teens/files/styles/article/public/field/image/rs930_135120665-low.jpg?itok=g5LI5W4C")}
/* .mainnav {
  order:2;
  float:right;
} */

/* NAVBAR HOVER STUFF END */

/*CARD HOVER*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #de0000;
}
#AccordionMain {
  border: 3px #000000;
  padding-top: 80px;
  padding-bottom: 100px;
  
}


/* CARD HOVER END*/

/* accordion*/
.ac-container {
  max-width: 400px;
  border: 3px #000000;
  padding-top: 40px;
  padding-bottom: 100px;
}

.ac-container label {
  height: 30px !important;
  line-height: 21px !important;
  font-size: 20px !important;
  font-family: 'Open Sans','Arial Narrow',Arial,sans-serif !important;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: linear-gradient(top,#fff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3),1px 0 0 rgba(255,255,255,0.9) inset,0 2px 2px rgba(0,0,0,0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.ac-container label:hover {
  background: #de000079;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
  background: #f1f2f3;
  color: #de0000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3),0 2px 2px rgba(0,0,0,0.1);
  height: 30px;
  line-height: 21px;
  font-size: 22px;
  font-weight: bold;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255,255,255,0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 30px;
  font-size: 16px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  font: normal normal 18px 'Open Sans';
}

.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.ac-container input:checked ~ article.ac-alk {
  height: 120px;
}
.ac-container input:checked ~ article.ac-izol {
  height: 160px;
}
.ac-container input:checked ~ article.ac-ilet {
  height: 100px;
}

.ac-container input:checked ~ article.ac-uygl {
  height: 240px;
}

