      <footer class="text-center text-lg-start ">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto my-4">
                <h6 class="text-uppercase fw-bold my-4">
                 DTM Elektroteknik A.Ş.
                </h6>
                <p>
                  <br><br><br><br><br><br>
                  © 2022 Copyright: DTM Elektroteknik A.Ş.<br>
                  <a class="text-reset " href="">KVKK Aydınlatma Metni</a><br>
          <a class="text-reset " href="">KVKK Veri Sorumlusuna Başvuru Formu</a>
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto my-4">
                <h6 class="text-uppercase fw-bold my-4">
                  ÜRÜNLER
                </h6>
                <p>
                  <a href="/products#product1" class="text-reset">AB-E AYDINLATMA BUSBAR <br>(25A-63A)</a>
                </p>
                <p>
                  <a href="/products#product2" class="text-reset">SP-H ALÇAK GÜÇ BUSBAR <br>(100A-160A)</a>
                </p>
                <p>
                  <a href="/products#product3" class="text-reset">MP-H ORTA GÜÇ BUSBAR <br>(160A-600A)</a>
                </p>
                <p>
                  <a href="/products#product4" class="text-reset">HP-K YÜKSEK GÜÇ BUSBAR <br>(400A-6300A)</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-4">
                <h6 class="text-uppercase fw-bold my-4">
                  Hızlı Navigasyon
                </h6>
                <p>
                  <a href="/iletisim" class="text-reset">İletişim</a>
                </p>
                <p>
                  <a href="/products" class="text-reset">Ürünler</a>
                </p>
                <p>
                  <a href="/" class="text-reset">Ana Sayfa</a>
                </p>
                <p>
                  <a href="/kurumsal" class="text-reset">Kurumsal</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 my-4">
                <h6 class="text-uppercase fw-bold my-4">İLETİŞİM</h6>
                <p><i class="fas fa-home me-3"></i> Çatalmeşe Mah. Sultansuyu Cad. No:129, 34794 Alemdağ - Çekmeköy, İSTANBUL - TÜRKİYE</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@dtmbusbar.com
                </p>
                <p><i class="fas fa-phone me-3"></i> 0216 429 51 74</p>
                <p><i class="fas fa-print me-3"></i> 0216 429 47 88</p>
                <div id="icons">
                  <span>
                  <a href="">
                    <i class="fa-brands fa-twitter fa-xl"></i>
                  </a>
                  <a href="">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                  </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
