<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>{{ translation[15] }} | {{ translation[17] }}</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="mediumhead">
        <h2 id="mediumexp" class="text-uppercase">{{ translation[15] }}</h2>
        <br>
        <p id="exppar">{% if session['language'] == 0 %}
            ile ilgili güncellemeler
            {% else %}
            Latest updates regarding our
            {% endif %}</p>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Lorem ipsum dolor suscipit quae eos aliquam omnis facere.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, totam dolores!</p>
        </div>
        <div>
            <img src="https://picsum.photos/800">
        </div>
        </div>
    </div>

    
    <hr class="linebreak">
    </hr>
    {% include 'FOOT.html' %}
</body>