<!DOCTYPE html>
<html lang="{{ translation[0] }}">

<head>
    {% include 'HEAD.html' %}
    <title>{{ translation[12] }} | {{ translation[17] }} </title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="">
        <div id="hizmetler" class="parallax">
            <h1>{% if session['language'] == 0 %}
                HİZMETLER
                {% else %}
                SERVICES
                {% endif %}</h1>
            <p>{% if session['language'] == 0 %}
                Müşteri memnuniyeti bizim için önemlidir.
                {% else %}
                The customer is important to us.
                {% endif %}</p>
        </div>
    </div>


    <div class="container">

        <div class="row justify-content-around">
            <div id="maintext" class="col-md-7 col-sm-12">
                <h3>
                    {% if session['language'] == 0 %}
                    HİZMET KALİTESİ
                    {% else %}
                    SERVICE QUALITY
                    {% endif %}
                </h3>
                <p>
                    {% if session['language'] == 0 %}
                    <br><br>Satış öncesi ve satış sonrası hizmetleri mükemmel bir düzeyde vermek, DTM Elektroteknik A.Ş
                    için çok önemlidir. <br><br>

                    Eksiksiz müşteri hizmetleri, DTM ürünlerinin vazgeçilmez bir tamamlayıcısıdır. Ürün kalitesi ile
                    sunulan hizmet kalitesi toplam kaliteyi oluşturmaktadır.<br><br>

                    DTM Elektroteknik A.Ş 'nin hizmet anlayışı yalnızca malın satışıyla sınırlı kalmayıp proje ve
                    uygulama
                    aşamalarını da kapsamakla beraber aynı zamanda diğer önemli bir nokta DTM 'nin kişiye ya da kuruma
                    özel
                    servis desteği vererek kullanıcıların gereksinimlerine en uygun yanıtları verebiliyor ve satın
                    aldıkları
                    ürünlerden maksimum yararlanabilmelerini sağlıyor olmasıdır. <br><br>
                    {% else %}

                    <br><br>It is very important for DTM Electrotechnical Inc. to provide pre-sales and after-sales
                    services at an excellent level. <br><br>

                    Complete customer service is an indispensable complement to DTM products. The product quality and
                    the service quality provided constitute the total quality.<br><br>
                    The service concept of DTM Electrotechnical Inc. is not only limited to the sale of the goods, but
                    also
                    covers the project and application stages, another important point is that DTM can give the most
                    appropriate answers to the needs of the users by providing personalized or corporate service support
                    and enable them to make the maximum use of the products they buy.
                    {% endif %}

                </p>
                <ul>
                    {% if session['language'] == 0 %}
                    <b>DTM Elektroteknik A.Ş. tarafından sunulan hizmetler;</b>
                    <li>Satış öncesi / sonrası mühendislik hizmetleri</li>
                    <li>Uygulama Projelerinin Hazırlanması</li>
                    <li>Montaj Süpervizyonu</li>
                    <li>Kısa teslimat süreleri</li>
                    {% else %}
                    <b>Services offered by DTM Electrotechnical Inc;</b>
                    <li>Pre-sales / post-sales engineering services</li>
                    <li>Preparation of Implementation Projects</li>
                    <li>Installation Supervision</li>
                    <li>Short delivery times</li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4  col-sm-12">
                <div class="cards">
                    <div class="cards-inner ">
                        <img src="../static/img/dtm-hizmetler.jpg" alt="">
                    </div>
                    <h3 class="align-self-center text-uppercase">{{ translation[13] }}</h3>
                    <p>{% if session['language'] == 0 %}
                        Örnek referanslarımızı inceleyiniz. Detaylı bilgi için lütfen bizi arayınız.
                        {% else %}
                        Check out some of our references. Please call us for detailed information.
                        {% endif %}</p>
                    <button id="sidecardbutton" type="button" class="btn btn-danger btn-sm">{{ translation[13]
                        }}</button>
                </div>

            </div>
        </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>