<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>{{ translation[12] }} | {{ translation[17] }} </title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="">
        <div id="hizmetler" class="parallax">
            <h1>{% if session['language'] == 0 %}
                HİZMETLER
                {% else %}
                SERVICES
                {% endif %}</h1>
            <p>{% if session['language'] == 0 %}
                Müşteri memnuniyeti bizim için önemlidir.
                {% else %}
                The customer is important to us.
                {% endif %}</p>
        </div>
    </div>


    <div class="container">

        <div class="row justify-content-around">
            <div id="maintext" class="col-md-7 col-sm-12">
                <h3>
                {% if session['language'] == 0 %}
                    HİZMET KALİTESİ
                {% else %}
                    SERVICE QUALITY
                {% endif %}
                </h3>
                <p>
                    <br><br>Satış öncesi ve satış sonrası hizmetleri mükemmel bir düzeyde vermek, DTM Elektroteknik A.Ş
                    için çok önemlidir. <br><br>

                    Eksiksiz müşteri hizmetleri, DTM ürünlerinin vazgeçilmez bir tamamlayıcısıdır. Ürün kalitesi ile
                    sunulan hizmet kalitesi toplam kaliteyi oluşturmaktadır.<br><br>

                    DTM Elektroteknik A.Ş 'nin hizmet anlayışı yalnızca malın satışıyla sınırlı kalmayıp proje ve
                    uygulama
                    aşamalarını da kapsamakla beraber aynı zamanda diğer önemli bir nokta DTM 'nin kişiye ya da kuruma
                    özel
                    servis desteği vererek kullanıcıların gereksinimlerine en uygun yanıtları verebiliyor ve satın
                    aldıkları
                    ürünlerden maksimum yararlanabilmelerini sağlıyor olmasıdır. <br><br>
                </p>
                <ul>
                    <b>DTM Elektroteknik A.Ş. tarafından sunulan hizmetler;</b>
                    <li>Satış öncesi / sonrası mühendislik hizmetleri</li>
                    <li>Uygulama Projelerinin Hazırlanması</li>
                    <li>Montaj Süpervizyonu</li>
                    <li>Kısa teslimat süreleri</li>
                </ul>
            </div>
            <div class="col-md-4  col-sm-12">
                <div class="cards">
                    <div class="cards-inner ">
                        <img src="../static/img/dtm-hizmetler.jpg" alt="">
                    </div>
                    <h3 class="align-self-center text-uppercase">{{ translation[13] }}</h3>
                    <p>Örnek referanslarımızı inceleyiniz. Detaylı bilgi için lütfen bizi arayınız.</p>
                    <button id="sidecardbutton" type="button" class="btn btn-danger btn-sm">Referanslar</button>
                </div>

            </div>
        </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>