<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'HEAD.html' %}
    <title>İletişim | DTM ELEKTROTEKNİK A.Ş.</title>
</head>

<body>
    <div class="maploc">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.543683472667!2d29.237891315415595!3d41.05710697929584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad271798b6609%3A0x8595ea1c32beb5d0!2sDtm%20Elektro%20Teknik%20San.!5e0!3m2!1str!2str!4v1663053706060!5m2!1str!2str"
            width="1000" height="400" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <form action="/send_mail" method="post" class="col-lg-8">
                <label for="name">AD SOYAD</label><br>
                <input type="text" id="name" name="name"><br>

                <label for="YourMessage">
                    MESAJINIZ
                </label><br>
                <textarea id="YourMessage" name="yourmsg" rows="10" cols="100"></textarea>
                <input type="submit" value="send">
            </form>
            <div id="adresses" class="card col-lg-4">
                <h2>Adres Bilgileri</h2>
                <h4>DTM ELEKTROTEKNİK A.Ş.</h4>
                <br>
                <p>Çatalmeşe Mah.<br>Sultansuyu Cad. No:129<br>
                    34794 Alemdağ-Çekmeköy<br>İSTANBUL</p>
                <p><b>Telefon:</b>&nbsp;(0216) 429 51 74&nbsp;&nbsp; <a href="tel:+902164295174">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                            </path>
                        </svg>
                    </a> </p>
                <p><b>Fax:</b>&nbsp;(0216) 429 47 88</p>
                <p><b>Email:</b>&nbsp; <a href="mailto:info@dtmbusbar.com">info@dtmbusbar.com</a></p>
                <br><br>
                <p><b>Yurt İçi Satış:</b><br>Bülent TOKMAK<br><a
                        href="mailto:bulent.tokmak@dtmbusbar.com">bulent.tokmak@dtmbusbar.com</a></p><br><br>
                <p><b>KAHRAMANMARAŞ BÖLGE BAYİ</b><br>ATEM TEKSTİL GIDA ELEKTRİK<br>PAZARLAMA SAN. VE TİC. LTD.
                    ŞTİ.<br><br><b>Adres:&nbsp;</b>Akçakoyunlu Mah.<br>Bayazıtlı Bul. No:9 Onikişubat<br> KAHRAMANMARAŞ
                    <br><b>TEL:&nbsp;</b>(0531) 286 10 11<br><a href="http://www.atem.com.tr"
                        target="_blank">www.atem.com.tr</a><br><a
                        href="mailto:info@atemelektrik.com">info@atemelektrik.com</a>
                </p><br><br>
                <p><b>ADANA BÖLGE BAYİ</b><br>MEGATEKS MAKİNA ENERJİ<br>SAN. VE TİC. LTD.
                    ŞTİ.<br><br><b>Adres:&nbsp;</b>Yeşiloba Mah 46031<br>Sokak Yeni Metal San. Sit. No:<br>37/A SEYHAN /
                    ADANA
                    <br><b>TEL:</b>&nbsp; (0322) 457 72 56<br><a href="http://www.megateksmakine.com"
                        target="_blank">www.megateksmakine.com</a><br><a
                        href="mailto:megateks@megateksmakine.com">megateks@megateksmakine.com</a>
                </p>
            </div>
        </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>