<!DOCTYPE html>
<html lang="tr">

<head>
  {% include 'HEAD' %}
 
  <title>DTM ELEKTROTEKNİK A.Ş.</title>
</head>

<body>
  <section class="sticky-top" id="navbarat">
    <a class="navbar-brand" id="logo" href="#">
      <img src="../static/img/dtm-logo.png" alt="logo">
    </a>
    <nav class="blend">

      <ul>
        <li><a href="/">ANA SAYFA</a></li>
        <li><a href="/kurumsal">KURUMSAL</a></li>
        <li><a href="/products">ÜRÜNLER</a>
          <ul class="dropdown">
            <li><a href="/products#product1">AB-E AYDINLATMA BUSBAR (25A-63A)</a></li>
            <li><a href="/products#product2">SP-H ALÇAK GÜÇ BUSBAR (100A-160A)</a></li>
            <li><a href="/products#product3">MP-H ORTA GÜÇ BUSBAR (160A-600A)</a></li>
            <li><a href="/products#product4">HP-K YÜKSEK GÜÇ BUSBAR (400A-6300A)</a></li>
          </ul>
        </li>
        <li><a href="/hizmetler">HİZMETLER</a></li>
        <li><a href="/referanslar">REFERANSLAR</a></li>
        <li><a href="/iletisim">İLETİŞİM</a></li>
        <li><a href="">HABERLER</a></li>
        <li class="" id=""><a href="#">ENGLISH</a></li>
      </ul>
    </nav>
  </section>

  <div id="" class="">
  </div>


  <div class="container align-self-center">
    <div class="row align-self-center mx-auto" id="cards_landscape_wrap-2">
      <!-- CARD1 START-->
      <div class="col-xs-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="../static/img/icon-kurumsal.jpg" alt="" />
              </div>
              <div class="text-container">
                <h6>KURUMSAL</h6>
                <p> DTM Elektroteknik A.Ş. 2000 yılından bu yana tecrübeli kadrosu ile 25A'den 6300A'e kadar busbar
                  üretimi ile hizmet vermektedir. Misyonumuz sahip olduğumuz belge ve sertifika standartlarında müşteri
                  memnuniyetini sağlamak, yurt içi ve dışında busbar sistemlerini en iyi şekilde üretmek ve
                  busbar sistemlerinde güvenilir ve kaliteli hizmet sunmaktır. </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- CARD1 END-->
      <!-- col-xs-12 col-sm-6 col-md-3 col-lg-3 -->
      <!-- CARD2 START-->
      <div class="col-xs-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4">
        <div class="card-flyer">
          <div class="text-box">
            <div class="image-box">
              <img src="../static/img/icon-products.jpg">
            </div>
            <div class="text-container">
              <h6>ÜRÜNLER</h6>
              <p>25A - 6300A arası, yüksek kaliteli ve standartlara uygun üretilen Busbar Kanal Sistemleri hakkında
                bilgi almak için bu bölümü ziyaret ediniz. <br><br>
                <a href="/products#product1">AB-E AYDINLATMA BUSBAR (25A-63A)</a> <br>
                <a href="/products#product2">SP-H ALÇAK GÜÇ BUSBAR (100A-160A)</a> <br>
                <a href="/products#product3">MP-H ORTA GÜÇ BUSBAR (160A-600A)</a> <br>
                <a href="/products#product3">HP-K YÜKSEK GÜÇ BUSBAR (400A-6300A)</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- CARD2 END-->
      <!-- CARD3 START-->
      <div class="col-xs-12 col-sm-8 offset-sm-2 offset-md-0 col-md-6 col-lg-4">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="../static/img/icon-hizmetler.jpg" alt="" />
              </div>
              <div class="text-container">
                <h6>hizmetler</h6>
                <p>Satış öncesi ve satış sonrası hizmetleri mükemmel bir düzeyde vermek, DTM Elektroteknik A.Ş. için çok
                  önemlidir. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta impedit, optio
                  similique esse nemo provident temporibus officia sed illum tenetur labore, nobis quasi explicabo,
                  cupiditate velit veniam sint veritatis!</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- CARD3 END-->
      <!-- ACCORDION COL START-->
      <section id="acccc" class="ac-container col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
        <div>
          <input id="ac-1" name="accordion-1" type="radio">
          <label for="ac-1">Alüminyum Kasa</label>
          <article class="ac-alk">
            <p>Hafif Ağırlık <br>
              Korozyon Direnci <br>
              Yüksek Isı Dağılımı <br>
              Kolay Montaj</p>
          </article>
        </div>
        <div>
          <input id="ac-2" name="accordion-1" type="radio">
          <label for="ac-2">İzolasyon</label>
          <article class="ac-izol">
            <p>Epoksi <br>
              Yüksek Çalışma Isısı <br>
              Dielektrik Dayanım<br>
              Optimum Isı Dağılım için İnce Kat<br>
              Neme Karşı Epoksi</p>
          </article>
        </div>
        <div>
          <input id="ac-3" name="accordion-1" type="radio">
          <label for="ac-3">İletkenler</label>
          <article class="ac-ilet">
            <p>Yüksek Elektrik İletkenliği <br>
              Isı Resistansı <br>
              Güvenilir Güçlü Sağlam Yapı</p>
          </article>
        </div>
        <div>
          <input id="ac-4" name="accordion-1" type="radio" checked="">
          <label for="ac-4">Uygulama Alanları</label>
          <article class="ac-uygl">
            <p>Yüksek Binalar<br>Hastaneler<br>Sanayi Tesisleri<br>Oteller<br>Bankalar<br>Hava Alanları<br>Data
              Merkezleri<br>AVM Alışveriş Merkezleri</p>
          </article>
        </div>
      </section>
      <!-- ACCORDION COL END-->
      <!-- PERCENTAGES-->
      <div class="col-lg-4 col-md-4 col-sm-8 offset-sm-2 offset-md-0 col-xs-12 container">
        
      </div>
      <!-- OWL CAROUSEL START-->
      <div class="col-lg-4 col-md-4 col-sm-8 offset-sm-2 offset-md-0 col-xs-12 container">
        <div id="fade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#fade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#fade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
      </div>
      
    </div>
  </div>





  </div>


  <!-- Footer -->
  {% include 'FOOT' %}



</body>

</html>