<div class="navsection sticky-top">
    <nav class="navbar ">
        <!-- LOGO -->
        <div class="logo">
           <a href="/"><img src="../static/img/dtm-logo.png"></a>
        </div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu text-uppercase">
                <li><a href="/">{{ translation[1] }}</a></li>
                <li><a href="/kurumsal">{{ translation[2] }}</a></li>
                <li class="services">
                    <a href="/products">{{ translation[4] }}</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="./products.html#product1">AB-E {{ translation[6] }} BUSBAR</a></li>
                        <li><a href="./products.html#product2">SP-H {{ translation[7] }} BUSBAR</a></li>
                        <li><a href="./products.html#product3">MP-H {{ translation[8] }} BUSBAR</a></li>
                        <li><a href="./products.html#product4">HP-K {{ translation[9] }} BUSBAR</a></li>
                    </ul>
                </li>
                <li><a href="/hizmetler">{{ translation[12] }}</a></li>
                <li><a href="/referanslar">{{ translation[13] }}</a></li>
                <li><a href="/sertifikalar">{{ translation[14] }}</a></li>
                <li><a href="/haberler">{{ translation[15] }}</a></li>
                <li><a href="/iletisim">{{ translation[10] }}</a></li>
                <li> <i class="fa-solid fa-globe"></i>
                    <ul class="dropdown">
                        <li class="" id=""><form action="/set_lang" method="post"><input style="display: none;" type="text" name="langval" value="1"><button type="submit" style="color: black;">ENGLISH</button></form></li>
                        <li class="" id=""><form action="/set_lang" method="post"><input style="display: none;" type="text" name="langval" value="0"><button type="submit" style="color: black;">TÜRKÇE</button></form></li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>
</div>