<div class="navsection sticky-top">
    <nav class="navbar ">
        <!-- LOGO -->
        <div class="logo">
           <a href="/"><img src="../static/img/dtm-logo.png"></a>
        </div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/">ANA SAYFA</a></li>
                <li><a href="/kurumsal">KURUMSAL</a></li>
                <li class="services">
                    <a href="/products">ÜRÜNLER</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="./products.html#product1">AB-E AYDINLATMA BUSBAR</a></li>
                        <li><a href="./products.html#product2">SP-H ALÇAK GÜÇ BUSBAR</a></li>
                        <li><a href="./products.html#product3">MP-H ORTA GÜÇ BUSBAR</a></li>
                        <li><a href="./products.html#product4">HP-K YÜKSEK GÜÇ BUSBAR</a></li>
                    </ul>
                </li>
                <li><a href="/hizmetler">HİZMETLER</a></li>
                <li><a href="/referanslar">REFERANSLAR</a></li>
                <li><a href="/sertifikalar">SERTİFİKALAR</a></li>
                <li><a href="/haberler">HABERLER</a></li>
                <li><a href="/iletisim">İLETİŞİM</a></li>
                <li> <i class="fa-solid fa-globe"></i>
                    <ul class="dropdown">
                        <li class="" id=""><form action="/set_lang" method="post"><input style="display: none;" type="text" name="langval" value="1"><button type="submit" style="color: black;">ENGLISH</button></form></li>
                        <li class="" id=""><form action="/set_lang" method="post"><input style="display: none;" type="text" name="langval" value="0"><button type="submit" style="color: black;">TÜRKÇE</button></form></li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>
</div>