<div class="navsection sticky-top">
    <nav class="navbar ">
        <!-- LOGO -->
        <div class="logo">DTM</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/">ANA SAYFA</a></li>
                <li><a href="/">KURUMSAL</a></li>
                <li class="services">
                    <a href="/">ÜRÜNLER</a>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown">
                        <li><a href="/">AB-E AYDINLATMA BUSBAR</a></li>
                        <li><a href="/">SP-H ALÇAK GÜÇ BUSBAR</a></li>
                        <li><a href="/">MP-H ORTA GÜÇ BUSBAR</a></li>
                        <li><a href="/">HP-K YÜKSEK GÜÇ BUSBAR</a></li>
                    </ul>
                </li>
                <li><a href="/">HİZMETLER</a></li>
                <li><a href="/">REFERANSLAR</a></li>
                <li><a href="/">SERTİFİKALAR</a></li>
                <li><a href="/">HABERLER</a></li>
                <li><a href="/">İLETİŞİM</a></li>
            </div>
        </ul>
    </nav>
</div>