<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>Referanslar | DTM ELEKTROTEKNİK A.Ş.</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="productshead">
        <h2 id="exphead">REFERANSLAR</h2><br>
        <p id="exppar">Proje Referanslarımızdan Örnekler</p>
    </div>
    <div id="references" class="container align-self-center">
        <div class="row justify-content-around">
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kartaladaletsarayi.jpg">
                </div>
                <div class="content">
                    <h3>Anadolu Adalet Sarayı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/theistanbulresidence.jpg">
                </div>
                <div class="content">
                    <h3>The Istanbul Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kenyamerkezbankasi.png">
                </div>
                <div class="content">
                    <h3>Kenya Merkez Bankası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Church House Uganda</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Sun Flamingo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/millisavunmauni.jpg">
                </div>
                <div class="content">
                    <h3>Milli Savunma Üniversitesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/vatankablo.jpg">
                </div>
                <div class="content">
                    <h3>Vatan Kablo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ttkule.jpg">
                </div>
                <div class="content">
                    <h3>Türk Telekom Kule</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ibbbagcilar.jpg">
                </div>
                <div class="content">
                    <h3>İBB Bağcılar Meydan Otopark</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/iletisimbaskanligi.jpg">
                </div>
                <div class="content">
                    <h3>TC İletişim Daire Başk. Binası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/gebzemetro.jpeg">
                </div>
                <div class="content">
                    <h3>Gebze Darıca Metro Hattı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/rumeliuni.jpg">
                </div>
                <div class="content">
                    <h3>İstanbul Rumeli Üniversitesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ganjanlife.jpg">
                </div>
                <div class="content">
                    <h3>Ganjan Life Konut Projesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/anamur hastanesi.jpg">
                </div>
                <div class="content">
                    <h3>Anamur Devlet Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/baofresidence.jpg">
                </div>
                <div class="content">
                    <h3>Baof Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/adanaadaletsarayi.jpg">
                </div>
                <div class="content">
                    <h3>Adana Adalet Sarayı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/idealofis.jpg">
                </div>
                <div class="content">
                    <h3>Yücesoy İdeal Ofis Bayraklı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tokisilifke200yatak.jpeg">
                </div>
                <div class="content">
                    <h3>TOKİ Silifke Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tokigop796.jpg">
                </div>
                <div class="content">
                    <h3>GOP 796 Projesi TOKİ</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/yozgathastanesi.jpg">
                </div>
                <div class="content">
                    <h3>Yozgat Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/referanstower.jpg">
                </div>
                <div class="content">
                    <h3>Referans Tower Kule Kartal</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/liveterrace.png">
                </div>
                <div class="content">
                    <h3>Live Terrace</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kiptasmetrokent.jpg">
                </div>
                <div class="content">
                    <h3>KİPTAŞ Metrokent</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/skysuitekartal.jpg">
                </div>
                <div class="content">
                    <h3>Sky Suite</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kiptas.png">
                </div>
                <div class="content">
                    <h3>KİPTAŞ Esenyurt</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/citymallavm.jpg">
                </div>
                <div class="content">
                    <h3>City Mall AVM Atakum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/celikparkavm.jpg">
                </div>
                <div class="content">
                    <h3>Çelikpark AVM</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/cmsboya.jpg">
                </div>
                <div class="content">
                    <h3>ÇMS Boya Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/dapteraskule.jpg">
                </div>
                <div class="content">
                    <h3>DAP Yapı - Teras Kule</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/dogantekstil.jpg">
                </div>
                <div class="content">
                    <h3>Doğan Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/erzurumarastirma.jpg">
                </div>
                <div class="content">
                    <h3>Erzurum Atatürk Üniversitesi Araştırma Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/hititnatural.jpg">
                </div>
                <div class="content">
                    <h3>Hitit Natural İş Merkezi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/29mayiskutuphane.jpg">
                </div>
                <div class="content">
                    <h3>29 Mayıs Üni. Kütüphanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/karacasutekstil.jpg">
                </div>
                <div class="content">
                    <h3>Karacasu Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/teksanjenerator.jpg">
                </div>
                <div class="content">
                    <h3>Teksan Jeneratör</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/untekstekstilboya.jpg">
                </div>
                <div class="content">
                    <h3>ÜNTEKS Tekstil Boya</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/lokmanhekim.jpeg">
                </div>
                <div class="content">
                    <h3>Lokman Hekim Üniversitesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kayabeytekstil.jpg">
                </div>
                <div class="content">
                    <h3>Kayabey Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/santepekonutlari.jpg">
                </div>
                <div class="content">
                    <h3>Şantepe Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/vetalasi.jpg">
                </div>
                <div class="content">
                    <h3>Vetal Aşı Serum Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tivibu.jpg">
                </div>
                <div class="content">
                    <h3>Türk Telekom Tivibu A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/karbakmetal.jpg">
                </div>
                <div class="content">
                    <h3>Karbak Metal Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/anddokum">
                </div>
                <div class="content">
                    <h3>AND Döküm</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tudemsas.png">
                </div>
                <div class="content">
                    <h3>TÜDEMSAŞ A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/versanplastik.jpg">
                </div>
                <div class="content">
                    <h3>Versan Plastik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/renta.png">
                </div>
                <div class="content">
                    <h3>RENTA A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kizilaymaden.jpg">
                </div>
                <div class="content">
                    <h3>Kızılay Maden Suyu Depo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/izmiralsancakstadi.jpg">
                </div>
                <div class="content">
                    <h3>İzmir Alsancak Stadyumu</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/skyvizyonkule.png">
                </div>
                <div class="content">
                    <h3>Sky Vizyon Kule</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/yuceleniskele.jpg">
                </div>
                <div class="content">
                    <h3>Yücelen İskele OSB</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/beylerresidence.png">
                </div>
                <div class="content">
                    <h3>Beyler Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/portresahil.jpg">
                </div>
                <div class="content">
                    <h3>Portre Sahil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/cinarapartmani.jpg">
                </div>
                <div class="content">
                    <h3>Çınar Apartmanı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/timaterrace.png">
                </div>
                <div class="content">
                    <h3>Tima Terrace Konut</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/mynestaktifhanatasehir.jpg">
                </div>
                <div class="content">
                    <h3>Mynest Aktifhan Ataşehir</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/visnetekstil.jpg">
                </div>
                <div class="content">
                    <h3>Vişne Tekstil San.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/">
                </div>
                <div class="content">
                    <h3></h3>
                </div>
            </div>
            
        </div>

    </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>