<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>Referanslar | DTM ELEKTROTEKNİK A.Ş.</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="mediumhead">
        <h2 id="mediumexp">REFERANSLAR</h2><br>
        <p id="exppar">Proje Referanslarımızdan Örnekler</p>
    </div>
    <div id="references" class="container-flex align-self-center">
        <div class="row justify-content-around">
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kartaladaletsarayi.jpg">
                </div>
                <div class="content">
                    <h3>Anadolu Adalet Sarayı</h3>
                    <h4>BUSBAR</h4>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/theistanbulresidence.jpg">
                </div>
                <div class="content">
                    <h3>The Istanbul Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kenyamerkezbankasi.png">
                </div>
                <div class="content">
                    <h3>Kenya Merkez Bankası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/churchhouseuganda.jpg">
                </div>
                <div class="content">
                    <h3>Church House Uganda</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/sunflamingo.jpg">
                </div>
                <div class="content">
                    <h3>Sun Flamingo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/millisavunmauni.jpg">
                </div>
                <div class="content">
                    <h3>Milli Savunma Üniversitesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/vatankablo.jpg">
                </div>
                <div class="content">
                    <h3>Vatan Kablo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ttkule.jpg">
                </div>
                <div class="content">
                    <h3>Türk Telekom Kule</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ibbbagcilar.jpg">
                </div>
                <div class="content">
                    <h3>İBB Bağcılar Meydan Otopark</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/iletisimbaskanligi.jpg">
                </div>
                <div class="content">
                    <h3>TC İletişim Daire Başk. Binası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/gebzemetro.jpeg">
                </div>
                <div class="content">
                    <h3>Gebze Darıca Metro Hattı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/rumeliuni.jpg">
                </div>
                <div class="content">
                    <h3>İstanbul Rumeli Üniversitesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ganjanlife.jpg">
                </div>
                <div class="content">
                    <h3>Ganjan Life Konut Projesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/anamur hastanesi.jpg">
                </div>
                <div class="content">
                    <h3>Anamur Devlet Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/baofresidence.jpg">
                </div>
                <div class="content">
                    <h3>Baof Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/adanaadaletsarayi.jpg">
                </div>
                <div class="content">
                    <h3>Adana Adalet Sarayı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/idealofis.jpg">
                </div>
                <div class="content">
                    <h3>Yücesoy İdeal Ofis Bayraklı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tokisilifke200yatak.jpeg">
                </div>
                <div class="content">
                    <h3>TOKİ Silifke Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tokigop796.jpg">
                </div>
                <div class="content">
                    <h3>GOP 796 Projesi TOKİ</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/yozgathastanesi.jpg">
                </div>
                <div class="content">
                    <h3>Yozgat Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/referanstower.jpg">
                </div>
                <div class="content">
                    <h3>Referans Tower Kule Kartal</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/liveterrace.png">
                </div>
                <div class="content">
                    <h3>Live Terrace</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kiptasmetrokent.jpg">
                </div>
                <div class="content">
                    <h3>KİPTAŞ Metrokent</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/skysuitekartal.jpg">
                </div>
                <div class="content">
                    <h3>Sky Suite</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kiptas.png">
                </div>
                <div class="content">
                    <h3>KİPTAŞ Esenyurt</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/citymallavm.jpg">
                </div>
                <div class="content">
                    <h3>City Mall AVM Atakum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/celikparkavm.jpg">
                </div>
                <div class="content">
                    <h3>Çelikpark AVM</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/cmsboya.jpg">
                </div>
                <div class="content">
                    <h3>ÇMS Boya Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/dapteraskule.jpg">
                </div>
                <div class="content">
                    <h3>DAP Yapı - Teras Kule</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/dogantekstil.jpg">
                </div>
                <div class="content">
                    <h3>Doğan Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/erzurumarastirma.jpg">
                </div>
                <div class="content">
                    <h3>Erzurum Atatürk Üniv. Araş. Hast.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/hititnatural.jpg">
                </div>
                <div class="content">
                    <h3>Hitit Natural İş Merkezi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/29mayiskutuphane.jpg">
                </div>
                <div class="content">
                    <h3>29 Mayıs Üni. Kütüphanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/karacasutekstil.jpg">
                </div>
                <div class="content">
                    <h3>Karacasu Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/teksanjenerator.jpg">
                </div>
                <div class="content">
                    <h3>Teksan Jeneratör</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/untekstekstilboya.jpg">
                </div>
                <div class="content">
                    <h3>ÜNTEKS Tekstil Boya</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/lokmanhekim.jpeg">
                </div>
                <div class="content">
                    <h3>Lokman Hekim Üniversitesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kayabeytekstil.jpg">
                </div>
                <div class="content">
                    <h3>Kayabey Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/santepekonutlari.jpg">
                </div>
                <div class="content">
                    <h3>Şantepe Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/vetalasi.jpg">
                </div>
                <div class="content">
                    <h3>Vetal Aşı Serum Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tivibu.jpg">
                </div>
                <div class="content">
                    <h3>Türk Telekom Tivibu A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/karbakmetal.jpg">
                </div>
                <div class="content">
                    <h3>Karbak Metal Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/anddokum.jpg">
                </div>
                <div class="content">
                    <h3>AND Döküm</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/tudemsas.png">
                </div>
                <div class="content">
                    <h3>TÜDEMSAŞ A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/versanplastik.jpg">
                </div>
                <div class="content">
                    <h3>Versan Plastik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/renta.png">
                </div>
                <div class="content">
                    <h3>RENTA A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kizilaymaden.jpg">
                </div>
                <div class="content">
                    <h3>Kızılay Maden Suyu Depo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/izmiralsancakstadi.jpg">
                </div>
                <div class="content">
                    <h3>İzmir Alsancak Stadyumu</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/skyvizyonkule.png">
                </div>
                <div class="content">
                    <h3>Sky Vizyon Kule</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/yuceleniskele.jpg">
                </div>
                <div class="content">
                    <h3>Yücelen İskele OSB</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/beylerresidence.png">
                </div>
                <div class="content">
                    <h3>Beyler Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/portresahil.jpg">
                </div>
                <div class="content">
                    <h3>Portre Sahil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/cinarapartmani.jpg">
                </div>
                <div class="content">
                    <h3>Çınar Apartmanı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/timaterrace.png">
                </div>
                <div class="content">
                    <h3>Tima Terrace Konut</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/mynestaktifhanatasehir.jpg">
                </div>
                <div class="content">
                    <h3>Mynest Aktifhan Ataşehir</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/visnetekstil.jpg">
                </div>
                <div class="content">
                    <h3>Vişne Tekstil San.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/sankoholding.jpg">
                </div>
                <div class="content">
                    <h3>Sanko Holding</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kiptasfuaye.jpg">
                </div>
                <div class="content">
                    <h3>KİPTAŞ Fuaye Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/yesilvadikonutlari.jpg">
                </div>
                <div class="content">
                    <h3>Yeşilvadi Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/doguelektrik.jpg">
                </div>
                <div class="content">
                    <h3>Doğu Elektrik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/fisekcioglu.png">
                </div>
                <div class="content">
                    <h3>Fişekçioğlu Demir Sanayi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ozduraktekstil.jpg">
                </div>
                <div class="content">
                    <h3>Özdurak Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/buluttekstil.jpg">
                </div>
                <div class="content">
                    <h3>Bulut Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/milteksegypt.jpg">
                </div>
                <div class="content">
                    <h3>Milteks Mısır Tekstil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/alphakozm.png">
                </div>
                <div class="content">
                    <h3>Alpha Pharma</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/cuentoplus.jpg">
                </div>
                <div class="content">
                    <h3>Cuento Plus İş Merkezi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kentkonuttuana.jpg">
                </div>
                <div class="content">
                    <h3>Kent Konut Tuana 3</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/hayatkalipfabrika.jpg">
                </div>
                <div class="content">
                    <h3>Hayat Kalıp Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/saraslojistik.jpg">
                </div>
                <div class="content">
                    <h3>Saras Lojistik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ugurluplaza.jpg">
                </div>
                <div class="content">
                    <h3>Uğurlu Plaza</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/hassandekor.jpg">
                </div>
                <div class="content">
                    <h3>Hassan Dekor Tools</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/elitplusplastik.jpg">
                </div>
                <div class="content">
                    <h3>Elit Plus Plastik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kardemir.jpg">
                </div>
                <div class="content">
                    <h3>Kardemir</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ozcinarmermer.jpg">
                </div>
                <div class="content">
                    <h3>Özçınar Mermer</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/netelsanfabrika.jpg">
                </div>
                <div class="content">
                    <h3>Netelsan Fabrika</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/gumusparkresidence.jpg">
                </div>
                <div class="content">
                    <h3>Gümüş Park Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/dkyonkagithane.jpg">
                </div>
                <div class="content">
                    <h3>DKY ON Kağıthane</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/flykanarya.jpg">
                </div>
                <div class="content">
                    <h3>Fly Kanarya Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/setekstekstil.jpeg">
                </div>
                <div class="content">
                    <h3>Seteks Tekstil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/hakketekstil.jpg">
                </div>
                <div class="content">
                    <h3>Hakke Tekstil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/kizilaymalatya.jpg">
                </div>
                <div class="content">
                    <h3>Kızılay Malatya Barınma Sis. Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/rotamuhendislik.jpg">
                </div>
                <div class="content">
                    <h3>Rota Mühendislik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/izparktower.png">
                </div>
                <div class="content">
                    <h3>Izpark Tower</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ozpancariplik.jpg">
                </div>
                <div class="content">
                    <h3>Özpancar İplik Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/teknometfab.jpg">
                </div>
                <div class="content">
                    <h3>Teknomet Fabrika</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/degademir.png">
                </div>
                <div class="content">
                    <h3>Dega Demir</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/silverlineamasya.jpg">
                </div>
                <div class="content">
                    <h3>Silverline Amasya Fabrika</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/dapizmirkonut.jpg">
                </div>
                <div class="content">
                    <h3>DAP İzmir Konut</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Hill İstanbul Konut</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MEM-PA Tarım Fab. OSB</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Trakya Cam Fab. OSB</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Lamptime Konya OSB</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Teknik Vida Bağlantı Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Halıca Bursa Hastanesi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Algida Halkalı Depo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Gazi Üniversitesi Hast.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>GCM Tarım Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Söğüt Seramik Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Acarlar Ahşap Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MDS Mobilya Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Özdemirbağlar Metal Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Modal Tekstil Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Üçel Boya Apre Tekstil Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MESKİ</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Es Metal Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Narteks İplik Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>First Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Mirel Boya Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>ABE Koton Tekstil Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Akınal Bella Ayakkabı Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Uluışık Plastik Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Deda Plastik Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Adana Teknik Lise Atölyeler</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>TY Gayrimenkul Konut</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Süper Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Sağlam Makina Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Mega Tekstil Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Emparia Konut Projesi Avcılar</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>İskur Denim Tekstil Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Mersin Towers Konut</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Şenova Tekstil Boya</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MIKS Tekstil Boya Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Panorama Days Hotel</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Himteks Tekstil Boya A.Ş.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>SMD Tower İş Merkezi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Arzular Metal Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Öz-İş Makine Fabrika</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Ayde Alüminyum Bilecik Fab.</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Derya Doğuş Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Moon Tower Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Mimsa Alüminyum Fabrika</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Kayseri Sahabiye Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MÜSİAD - Mavi İstanbul</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Kastamonu Evleri</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Caspian Residence Ataşehir</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Prym Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Varol Tower Kartal</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Meriç Apartmanı Erenköy</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MSB Kara Dikimevi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Nisshin Nuh Ankara Makarna</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Çağla Tekstil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Baysan</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Hayat Kağıt</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Aliağa Gaz Rafinerisi</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Pekiş Vinç</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Elte Pano</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Toros Elektrik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Karatepe Metal</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Emiroğlu Tekstil</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Elektroteknik Klima</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Dündar Makine</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Karkim</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Netmak</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Kren Vinç</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Küper Dış Ticaret</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Taç Makine</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Akgün Elektrik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Gökay Makine</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>CSN Vinç</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Ülkü Vinç</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Özfatihler Vinç</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Tazal Makine</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Parkcity AVM</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Atlantik Yurt Binası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Toki Bilim Teknoloji Binası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Medel Elektronik</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Fitower</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>MSK Döküm</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Konya Torku Şeker</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Yeni Hayat Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Hasteknik Döküm</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Toki Doğanbey Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Jumeriah Tower</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>İBB Konutları</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Altı Zincir Fabrikası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>İmsan Pres</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Botaş International</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>GiyimKent Saraylı Plaza</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Sun Plaza MASLAK Deloitte</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Şafak Makine</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="../static/img/refer/ph.png">
                </div>
                <div class="content">
                    <h3>Has Metal</h3>
                </div>
            </div>

        </div>

    </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>