<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>Referanslar | DTM ELEKTROTEKNİK A.Ş.</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="productshead">
        <h2 id="exphead">REFERANSLAR</h2><br>
        <p id="exppar">Proje Referanslarımızdan Örnekler</p>
    </div>
    <div id="references" class="container align-self-center">
        <div class="row justify-content-around">
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Anadolu Adalet Sarayı</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>The Istanbul Residence</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Kenya Merkez Bankası</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Church House Uganda</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Sun Flamingo</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            <div class="card col-md-4 col-lg-2">
                <div class="image">
                    <img href="#" src="https://picsum.photos/100">
                </div>
                <div class="content">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
            
    
        </div>

    </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>