<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>Sertifikalarımız | DTM ELEKTROTEKNİK A.Ş.</title>
</head>
<body>
    <div class="row align-items-center justify-content-center text-center">
        <div class="cert1">
            <div class="cert2">
                <h3>  </h3>
            </div>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 bottom">
                <h5><b>  </b></h5>
                <a href="" download="">
                    <img src="" width="230" height="250" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 bottom">
                <h5><b> </b></h5>
                <a href="" download="">
                    <img src="" width="230" height="250" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 bottom">
                <h5><b> </b></h5>
                <a href="" download="">
                    <img src="" width="230" height="250" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 bottom">
                <h5><b> </b></h5>
                <a href="" download="">
                    <img src="" width="230" height="250" alt="">
                </a>
            </div>
        </div>
        {% include 'FOOT.html' %}
</body>
</html>