<!DOCTYPE html>
<html lang="tr">

<head>
    {% include 'HEAD.html' %}
    <title>{{ translation[14] }} | {{ translation[17] }}</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="row align-items-center  text-center" id="certification">
        <div class="cert1">
            <div class="cert2">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iste ipsum molestiae tenetur ab!
                    Reiciendis quasi ipsam exercitationem veniam quos nobis, harum enim non sunt, consectetur deleniti
                    vel praesentium dolorum.</p>
            </div>

        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b> Certificate1 </b></h5>
            <a href="" download="../certificate/certificate1.pdf">
                <img src="../static/img/certificates/certificatedisplay1.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b> Certificate2</b></h5>
            <a href="" download="../certificate/certificate2.pdf">
                <img src="../static/img/certificates/certificatedisplay2.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b> Certificate3</b></h5>
            <a href="" download="../certificate/certificate3.pdf">
                <img src="../static/img/certificates/certificatedisplay3.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate4 </b></h5>
            <a href="" download="../certificate/certificate4.pdf">
                <img src="../static/img/certificates/certificatedisplay4.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate5 </b></h5>
            <a href="" download="../certificate/certificate5.pdf">
                <img src="../static/img/certificates/certificatedisplay5.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate6 </b></h5>
            <a href="" download="../certificate/certificate6.pdf">
                <img src="../static/img/certificates/certificatedisplay6.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate7 </b></h5>
            <a href="" download="../certificate/certificate7.pdf">
                <img src="../static/img/certificates/certificatedisplay7.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate8 </b></h5>
            <a href="" download="../certificate/certificate8.pdf">
                <img src="../static/img/certificates/certificatedisplay8.jpg" width="190" height="200" alt="">
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate9 </b></h5>
            <a href="" download="../certificate/certificate9.pdf">
                <img src="../static/img/certificates/certificatedisplay9.jpg" width="190" height="200" alt="">
            </a>
        </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>